.container{
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    justify-content: space-evenly;
    background-color: black;
    margin: 20px;
    padding: 20px;
     /* flex-wrap: wrap;  */
}
.item{
    background-color: rgb(175, 47, 47);
    margin: 2px;
    padding: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}